@import "./reset.scss";

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: white;
}
a {
  color: rgba(10,100,255,1);
  font-weight: 300;
}
html,
body {
  background: #333333;
  h1 {
    color: #ffff;
  }
}
